.container {
    display: flex;
}

.row {
    display: flex;
}

.filters {
    margin-right: 30px;
}

h3 {
    margin: 0;
}

.card-item {
    margin-bottom: 40px;

    border: 1px solid black;
}

.form-group {
    margin-bottom: 20px;
}

.btn {
    margin-right: 10px;
}